/*#f7e6bc,#f4d897,fd4aa2a,#a66a2a,#634121*/


a, p, div, h2, h3{
  font-family: "American Typewriter";
  text-align: center;
}
h1{
  color: white ;
  padding-top:5rem;
  font-size: 20rem;

}

h2{
  font-size: 4rem;
  margin-bottom: 1.6rem;
}
h3{
  font-size: 3rem;
  margin-bottom: 1.6rem;
}
p{
  font-size: 2rem;
  margin-bottom: 1rem;
  line-height: 2.4rem;
}
a{
  text-decoration: none;
}
.backgroundIndex{
  background-image: url(afb/bg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.backgroundIndex h1{
  padding-top: 30rem;
  margin-bottom: 5rem;
}
.backgroundIndex a{
  font-size: 5rem;
  border-radius: 2rem;
  padding: 1.5rem;
  text-transform: uppercase;
  background-color: #f4d897;
  color:#a66a2a;
  transition-duration: 0.4s;
  animation: verander 4s;
  animation-iteration-count: infinite;
}

.backgroundIndex a:hover{
  background-color: #a66a2a;
  color: white;
}
@keyframes verander {
  0%{
    background-color: #f4d897;
    color:#a66a2a;
  }
  50%{
    background-color: #a66a2a;
    color: white;
  }
  100%{
    background-color: #f4d897;
    color:#a66a2a;
  }
}



.onderschrift{
  position: absolute;
  bottom: 5rem;
  left: 5rem;
  font-size: 3rem;
  color: white;
}

@media (min-width: 700px) {
  .backgroundIndex h1{
    padding-top: 10rem;
    margin-bottom: 5rem;
  }
}

@media (min-width: 1000px) {


}
